{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Page Heading -->
        {% comment %} <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">K-Means Clustering On Given Dataset</h1>
        </div>{% endcomment %}

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">K-Means Clustering On Given Dataset</h6>
            </div>
            <div class="card-body">
                   <div class="py-3 d-sm-flex align-items-center justify-content-center">
                    {{ plot | safe }}
                </div>
                {% comment %} </div> {% endcomment %}
                <hr>
                <font color="#000000" style="background-color:#eff836; padding-left:4px; padding-right:4px">Yellow Circles</font> - <b>Centers</b> of the resepective Clusters<br><br>

                <font color="#000000" style="background-color:#ffa15a; padding-left:4px; padding-right:4px">Orange Cluster</font> - The Orange cluster groups <b>young people with moderate to low annual income</b> who actually spend a lot.<br>
                <font color="#000000" style="background-color:#00cc96; padding-left:4px; padding-right:4px">Green Cluster</font> - The Green cluster groups reasonably <b>young people with pretty decent salaries</b> who spend a lot.<br>
                <font color="#000000" style="background-color:#ef553b; padding-left:4px; padding-right:4px">Red Cluster</font> - The Red cluster basically groups people of <b>all ages whose salary isn't pretty high</b> and their spending score is moderate.<br>
                <font color="#000000" style="background-color:#ab63fa; padding-left:4px; padding-right:4px">Purple Cluster</font> - The Purple cluster groups people who actually have <b>pretty good salaries and barely spend money</b>, their age usually lays between thirty and sixty years.<br>
                <font color="#000000" style="background-color:#636efa; padding-left:4px; padding-right:4px">Blue Cluster</font> - The Blue cluster groups whose <b>salary is pretty low and don't spend much money</b> in stores, they are people of all ages.<br>
            </div>
        </div>
{% endblock %}