<script>

    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    function filterFunction() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        div = document.getElementById("myDropdown");
        a = div.getElementsByTagName("a");
        for (i = 0; i < a.length; i++) {
            txtValue = a[i].textContent || a[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
            a[i].style.display = "";
            } else {
            a[i].style.display = "none";
            }
        }
    }
    function toTitleCase(str) {
        return str.toLowerCase().split(' ').map(function (word) {
            return (word.charAt(0).toUpperCase() + word.slice(1));
        }).join(' ');
    }

    function fetchAprRules(val){
        allRanges = {{AgeRanges | safe}}
        ageRange = allRanges[val].split('-')

        document.getElementById("ageRangeButton").innerHTML = allRanges[val];

        //hide old select list if running for second timme
        document.getElementById("customDropdown").classList.remove("showSelect")

        //hide old recommendations if running for second time
        document.getElementById("recommendations").classList.add("hide")

        //show loading animation
        document.getElementById("loading").classList.remove("hide")

        //disable button till the response arrives to avoid multiple fetch requests
        document.getElementById("ageRangeButton").disabled = true;


        const url=`http://127.0.0.1:8000/home/api?data=AgeRange&startAge=${ageRange[0]}&endAge=${ageRange[1]}`;
        fetch(url)
        .then(res => res.json())
        .then((data)=>{
            //once response arrives, enable the button to allow new fetch request
            document.getElementById("ageRangeButton").disabled = false;

            //hide the loading animation
            document.getElementById("loading").classList.add("hide")

            //show items selection list
            document.getElementById("customDropdown").classList.add("showSelect")

            //reset the list select button text in case the age request is not fired first time
            document.getElementById("custDropDownBtn").innerHTML = "Search & Select"

            //read the response and add elements in dropdown lists as anchor tags
            list = new Set(data.data.split(','))

            //remove all the old entires in case of fetching multiple times
            document.getElementById("myDropdown").querySelectorAll('a').forEach(n => n.remove());
            list.forEach((item)=> {
                //replace the separator ('#') by ',' and title case the item
                tempItem = toTitleCase(item.replace(/#/g, ', '))

                //append anchor tags in the dropdown list of items
                a = document.createElement("A")
                aText = document.createTextNode(tempItem)
                a.appendChild(aText)

                a.style.cursor = 'pointer';

                //add onclick event to each element to call function for 2nd fetch
                a.setAttribute("onclick", `fetchAprResults('${item}')`);

                //append this item in dropdown list
                document.getElementById("myDropdown").appendChild(a)

            })
        })
        .catch(error => console.log(error));
    }

    function fetchAprResults(query){
        //hide the dropdown menu in case its out
        document.getElementById("myDropdown").classList.remove("show")

        //hide the recommendations if the request is not the first one
        document.getElementById("recommendations").classList.remove("hide")

        //get currently selected item
        tempQuery = toTitleCase(query.replace(/#/g, ', '))
        document.getElementById("custDropDownBtn").innerHTML = tempQuery

        const url=`http://127.0.0.1:8000/home/api?data=Recomms&query=${query}`


        fetch(url)
        .then(res => res.json())
        .then((data) => {
            //get response
            list = new Set(data.data.split(','))

            //remove all the old recommendations in case of fetching multiple times
            data = document.getElementById("recommArea").innerHTML = ''

            list.forEach((item) => {
                //replace the separator ('#') by ',' and title case the item
                tempItem = toTitleCase(item.replace(/#/g, ', '))

                data += `

                    <div class="card mb-4 py-3 border-left-primary">
                        &nbsp;&nbsp;${tempItem}
                    </div>

                `
                document.getElementById("recommArea").innerHTML = data

            })
        })
        .catch(error => console.log(error));
    }
</script>